--
-- PostgreSQL database dump
--

\restrict yQ8QHVvb9qsAij3mGYeWynAa0Mbol7ptoN6aFrMkaGlVnZGPm5AYJ0YCufIx1BU

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: tv9
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO tv9;

--
-- Name: post_targets; Type: TABLE; Schema: public; Owner: tv9
--

CREATE TABLE public.post_targets (
    id uuid NOT NULL,
    post_id uuid NOT NULL,
    social_account_id uuid NOT NULL,
    scheduled_for timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    platform_post_id character varying(255),
    error_message text,
    attempts integer NOT NULL,
    published_at timestamp with time zone
);


ALTER TABLE public.post_targets OWNER TO tv9;

--
-- Name: posts; Type: TABLE; Schema: public; Owner: tv9
--

CREATE TABLE public.posts (
    id uuid NOT NULL,
    title character varying(500),
    caption text,
    media_s3_key character varying(500),
    media_type character varying(20),
    created_by character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.posts OWNER TO tv9;

--
-- Name: social_accounts; Type: TABLE; Schema: public; Owner: tv9
--

CREATE TABLE public.social_accounts (
    id uuid NOT NULL,
    platform character varying(20) NOT NULL,
    account_name character varying(255) NOT NULL,
    secrets_manager_arn character varying(500) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.social_accounts OWNER TO tv9;

--
-- Name: user_account_access; Type: TABLE; Schema: public; Owner: tv9
--

CREATE TABLE public.user_account_access (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    social_account_id uuid NOT NULL
);


ALTER TABLE public.user_account_access OWNER TO tv9;

--
-- Name: users; Type: TABLE; Schema: public; Owner: tv9
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    display_name character varying(255) NOT NULL,
    is_admin boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO tv9;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: tv9
--

COPY public.alembic_version (version_num) FROM stdin;
ed39dd6dffad
\.


--
-- Data for Name: post_targets; Type: TABLE DATA; Schema: public; Owner: tv9
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: tv9
--



--
-- Data for Name: social_accounts; Type: TABLE DATA; Schema: public; Owner: tv9
--



--
-- Data for Name: user_account_access; Type: TABLE DATA; Schema: public; Owner: tv9
--

COPY public.user_account_access (id, user_id, social_account_id) FROM stdin;
cd056580-8741-4c3f-b69e-968a2f9dee62	819ea4ba-35cf-4b7b-80b7-6aea3c6b691e	e26cd77f-8701-4a6c-a9e3-bf6638e5e726
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: tv9
--

COPY public.users (id, email, display_name, is_admin, created_at) FROM stdin;
65082d4e-bf57-41cd-badb-fb440df9e665	admin@tv9.com	TV9 Admin	t	2026-07-30 06:18:51.126608+00
819ea4ba-35cf-4b7b-80b7-6aea3c6b691e	editor@tv9.com	TV9 Editor	f	2026-07-30 06:18:51.155185+00
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: post_targets post_targets_pkey; Type: CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.post_targets
    ADD CONSTRAINT post_targets_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: social_accounts social_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.social_accounts
    ADD CONSTRAINT social_accounts_pkey PRIMARY KEY (id);


--
-- Name: user_account_access user_account_access_pkey; Type: CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.user_account_access
    ADD CONSTRAINT user_account_access_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: post_targets post_targets_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.post_targets
    ADD CONSTRAINT post_targets_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id);


--
-- Name: post_targets post_targets_social_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.post_targets
    ADD CONSTRAINT post_targets_social_account_id_fkey FOREIGN KEY (social_account_id) REFERENCES public.social_accounts(id);


--
-- Name: user_account_access user_account_access_social_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.user_account_access
    ADD CONSTRAINT user_account_access_social_account_id_fkey FOREIGN KEY (social_account_id) REFERENCES public.social_accounts(id);


--
-- Name: user_account_access user_account_access_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tv9
--

ALTER TABLE ONLY public.user_account_access
    ADD CONSTRAINT user_account_access_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict yQ8QHVvb9qsAij3mGYeWynAa0Mbol7ptoN6aFrMkaGlVnZGPm5AYJ0YCufIx1BU

